/* Increase specificity for selected date */
.react-calendar .react-calendar__tile--active {
  background-color: #6d76fa !important;
  color: white !important;
}

/* Increase specificity for current date */
.react-calendar .react-calendar__tile--now {
  background-color: #9a9ff1 !important;
  color: white !important;
}

/* Remove border from the calendar */
.react-calendar {
  border: none;
  width: 100%;
}

/* Remove border from individual tiles */
.react-calendar__tile {
  border: none;
}

/* Ensure the navigation buttons styles are specific enough */
.react-calendar__navigation button {
  background-color: #6d76fa !important; /* Default background color */
  color: white !important; /* Text color */
  border: none !important; /* Remove border */
  cursor: pointer !important; /* Change cursor to pointer */
}

/* Hover state for navigation buttons */
.react-calendar__navigation button:hover {
  background-color: #9a9ff1 !important; /* Background color on hover */
  color: white !important; /* Text color on hover */
}

/* Optional: Hover state for focus to ensure accessibility */
.react-calendar__navigation button:focus {
  background-color: #9a9ff1 !important; /* Background color on focus */
  color: white !important; /* Text color on focus */
}

.react-calendar__month-view__weekdays__weekday {
  color: black;
}
